.product {
    display: flex;
    justify-content: space-between 5px;
    border-bottom: 1px solid lightgray ;
    margin:10px 10%;
    padding: 5px 10px;
    padding-top: 70px;
    text-align: center;
    

}



.name {
    width: 150px;
    padding-top: 70px;

}

.price {
    width: 100px;
    padding-top: 70px;
    font-size: larger ;
    font-weight: 400 ;
    
}

.button-cart {
    
    width: auto;
    height: 40px;
    margin-top: 65px; 
    }

.button-cart:hover {
    cursor: pointer;
    opacity: 0.7;
}


.buttons-cart {
    display: flex;
    justify-content:  space-between;
    width: 90px;
    
}


.image {
    width: 100px;
    height: auto;
}

.cart-info {
    display: grid;
    justify-content: flex-end;
    margin-right: 650px; 
    text-align: center;
  }

  .parcel-machines-container {
    margin-top: 20px; /* Adjust the margin value as per your preference */
  }

  .empty-cart-button {
    position: absolute;
    left: 190px; 
    background-color: #48B3E1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #363535;
  
  }

  .empty-cart-button:hover,
  .empty-cart-button:focus {
    background-color: #48B3E1;
    color: #fff;
}

.continue-to-checkout {
    background-color: #48B3E1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #363535;
}

.continue-to-checkout:hover,
.continue-to-checkout:focus {
    background-color: #48B3E1;
    color: #fff;
}